.layout-body {
  width: 100%;
  padding: 1.2rem 2rem;
}

@media (min-width: 360px) {
  .layout-body {
    padding: 1.1rem 2.4rem;
  }
}
@media (min-width: 720px) {
  .layout-body {
    padding: 0.5rem 2.4rem;
  }
}
@media (min-width: 1024px) {
  .layout-body {
    padding: 0.5rem 20rem;
  }
}
@media (min-width: 1920px) {
  .layout-body {
    padding: 0.5rem 36rem;
  }
}
