.layout-body {
  width: 100%;
  padding: 0 2rem;
}

@media (min-width: 360px) {
  .layout-body {
    padding: 0 2.4rem;
  }
}
@media (min-width: 720px) {
  .layout-body {
    padding: 0 2.4rem;
  }
}
@media (min-width: 1024px) {
  .layout-body {
    padding: 0 20rem;
  }
}
@media (min-width: 1920px) {
  .layout-body {
    padding: 0 36rem;
  }
}
