.post-message-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}
.post-message-form {
  width: 100%;
  height: 100%;
}
.input-name-section {
  width: 100%;
  height: 9.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
