.common-button {
  display: flex;
  width: 12rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  padding: 0.7rem 1.6rem;
  gap: 1rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  font-weight: var(--regular);
  color: rgba(255, 255, 255, 0.8);
  background-color: var(--purple-600);
  transition: 0.5s;
  &:hover {
    color: var(--white);
    text-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);
    box-shadow:
      0 0.3rem 0.3rem rgba(0, 0, 0, 0.25),
      0 0.2rem 0.2rem rgba(0, 0, 0, 0.22);
  }
  // &:disabled {
  //   background-color: var(--gray-300);
  // }
}
