.card-content {
  width: 20.8rem;
  height: 23.2rem;
  border-radius: 1.6rem;
  background-color: var(--purple-200);
  border: 1px solid rgba(0, 0, 0, 0.1);

  .card {
    display: flex;
    gap: 3.3rem;
    flex-direction: column;
    padding: 3rem 2.4rem;
  }

  .card__header {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    &-text {
      font-size: 1.8rem;
      font-weight: 700; // bold
      line-height: 2.8rem;
    }

    &-profile-list {
      display: flex;
      gap: -0.5rem;
      position: relative;

      :first-child {
        margin-left: 0;
      }

      :nth-child(2) {
        margin-left: -1rem;
      }

      :nth-child(3) {
        margin-left: -1rem;
      }

      :nth-child(4) {
        margin-left: -1rem;
        z-index: 10;
      }

      .count-circle {
        padding: 0.5rem 0.6rem;
        border-radius: 3rem;
        background-color: white;
      }

      .count-circle > span {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: var(--gray-500);
      }
    }

    &-content {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2rem;
      color: var(--gray-700);
      .bold {
        font-weight: 700;
      }
    }
  }

  .card__footer {
    border-top: 1px solid rgba(0, 0, 0, 0.12);

    &-button-area {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      padding-top: 1.6rem;
    }

    &-button {
      display: flex;
      align-items: center;
      gap: 0.2rem;

      .count {
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 400;
        color: white;
      }
    }
  }

  .badge-button {
    border-radius: 3.2rem;
    padding: 0.6rem 0.8rem;
    background-color: rgba(0, 0, 0, 0.54);
  }
}

.profile-content {
  border-radius: 5rem;
  width: 2.8rem;
  height: 2.8rem;
  border: 1.5px solid white;
  position: relative;
  overflow: hidden;

  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .card-content {
    width: 27.5rem;
    height: 26rem;

    .card__header {
      &-text {
        font-size: 2.4rem;
        font-weight: 700; // bold
        line-height: 3.6rem;
      }

      &-content {
        font-size: 1.6rem;
        line-height: 2.6rem;
      }
    }

    .card {
      gap: 4.3rem;
    }

    .badge-button {
      padding: 0.8rem 1.2rem;
      background-color: rgba(0, 0, 0, 0.54);
    }
  }
}
